<%- include('header.ejs') %>

<body>
<h1><%= subject %> Questions</h1>

<ul>
    <% for(var i=0; i<docs.length; i++) {%>
        <li ><a href="/" value=<%= docs[i].question %>><%= docs[i].question %> </a></li>
        <ul>
            <li value=<%= docs[i].username %>><%= docs[i].username %></li>
        </ul>
    <% } %>

</ul>


</body>














<%- include('footer.ejs') %>