<%- include('header.ejs') %>

<body class="body">
<div class="center font">
<h1 class="questionHeader"><%= subject %> Questions</h1>

<form action="/findQuestion" method="post">

    <div class="inner center">
            <% for(var i=0; i<docs.length; i++) {%>
                <div class="bigLabels"><b>User:</b> <%= docs[i].username %></div>
            <br>
                <button class="btn btn-secondary" name="questionSelect" type='submit' value='<%= docs[i].id %>' ><b>Question:</b> <%= docs[i].question %></button>


            <br><br><br><br>
            <% } %>






    </div>

</form>

</div>

</body>














<%- include('footer.ejs') %>