<%- include('header.ejs') %>

<style>
    body {
        background-color: #cdcccf;
    }
    .inner {
        padding-left: 40px;
    }
    .section-left {
        padding-top: 200px;
        padding-bottom: 300px;
        width: 400px;
        height: 300px;
    }
    .section-right {
        padding-top: 200px;
        padding-bottom: 300px;
        width: 400px;
        height: 300px;
        margin-left: 500px;
    }
    .text {
        padding-bottom: 20px;
    }
    h1 {
        padding-top: 50px;
        font-weight: 900;
    }
    .center {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .font {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
</style>

<body>
<div class="center">
    <p><b>User:</b> <%- questionDocs[0].username %></p>
    <p><b>Asks:</b> <%- questionDocs[0].question %></p>

<h2>Answers</h2>

<form action="/addStudy" method="post">
    <% for(var i=0; i<answerDocs.length; i++) {%>
        <div>
            <p><b>User:</b> <%= answerDocs[i].user %></p>
            <p><b>Answers:</b> <%= answerDocs[i].answer %></p>
        </div>
        <button  name="studySelect" type='submit' value='<%= answerDocs[i].answerId %>' >Add this answer and question to study guide.</button>
        <br><br><br>
</form>
    <form action = "/likePost" method="Post">
        <label for="like">Like</label>
        <button type="submit" value='<%= answerDocs[i].answerId %>' id="like" name="like"></button>
        <br>
    </form>

    <% } %>

<form action = "/addAnswer" method="Post">
    <label for="answer">Post an Answer</label>
    <input type="text" id="answer" name="answer">
    <br><br>

    <button type="submit" class="btn btn-primary" id="questionId" name="questionId" value='<%= questionDocs[0].id %>'>Post Answer</button>
</form>



</div>


</body>
<%- include('footer.ejs') %>