<%- include('header.ejs') %>

<style>
    h1 {
        padding-top: 20px;
        font-weight: 900;
    }
</style>
<div class="center font">
    <body class="body">
    <h1 class="inner">Study Guide</h1>
    <div class="inner">
            <% for(var i=0; i<studyDocs.length; i++) {%>
                    <div class="study">
                        <ul class=" list-group list-group-horizontal ">
                            <li class="list-group-item list-group-item-success study-item">
                                <form style="padding-top: 20px" action="/findQuestion" method="post">
                                    <button type="submit" class="btn btn-secondary" for="questionSelect" name="questionSelect" id="questionSelect" value=<%= studyDocs[i].questionId %>>
                                        
                                            <p><%= studyDocs[i].question %></p>
                                            <p><%= studyDocs[i].answer %></p>

                                    </button>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-success study-item">
                                <form class="studyGuideForm" action="/studyDel" method="post">
                                        <button class="btn btn-secondary " name="studyId" type='submit' value='<%= studyDocs[i].id %>' >Delete</button>
                                </form>
                            </li>
                        </ul>
                    </div>
            <% } %>
    </div>
    </body>
</div>

<%- include('footer.ejs') %>